### IntelliJ IDEA ###
.idea/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

### Mac OS ###
.DS_Store

# Ignore Python cache files
__pycache__/

# Ignore logs
folder_syncer/logs/